{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hrac_edit.css' %}"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>HracEdit</title>
    </head>
    <body>
      <nav class="fixed-menu">
        <ul>
          <li><a href="{% url 'kluby' %}">Zpět</a></li>
        </ul>
      </nav>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
        
          
              <!-- Login Form -->
              <form action="{% url 'hrac_edit' form.instance.id %}" method="POST">
                <input type="hidden" id="previous_page" name="previous_page" value="/previous/page/url">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="ulozit">
              </form>
        
          
            </div>
          </div>
          
          <script>
            prev = document.getElementById("previous_page");
            prev.value = document.referrer;
        </script>

    </body>
</html> 