{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'css/hraci_add.css' %}"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Vlozit</title>
    </head>
    <body>
        <nav class="fixed-menu">
            <ul>
              <li><a href="{% url 'hraci' %}">Zpět</a></li>
            </ul>
          </nav>

          <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Registrace hráče</p>
                </div>

                <form action="{% url 'hraci_add' %}" method="POST">
                {% csrf_token %}
                <div class="form-content">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                Jméno:<br>
                                {{form.jmeno}}
                            </div>
                            <div class="form-group">
                                Post:<br>
                                {{form.nazev_postu}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Příjmení:<br>
                                {{form.prijmeni}}
                            </div>
                            <div class="form-group">
                                Rodné číslo: <br>
                                {{form.rodne_cislo}}
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center;">
                    <button type="submit" class="btnSubmit">Uložit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
          <script>
            prev = document.getElementById("previous_page");
            prev.value = document.referrer;
        </script>

    </body>
</html> 