{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/kariera.css' %}"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Kariera</title>
    </head>
    <body>
        <nav class="fixed-menu">
            <ul>
              <li><a href="{% url 'hraci' %}">Zpět</a></li>
            </ul>
          </nav>

          <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Kariéra hráče</p>
                </div>

                <form action="{% url 'kariera' %}" method="POST">
                {% csrf_token %}
                <div class="form-content">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                Klub:<br>
                                {{form.klub}}
                            </div>
                            <div class="form-group">
                                Liga: <br>
                                {{form.sezona}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Datum:<br>
                                {{form.datum_vstupu}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Hráč:<br>
                                {{form.hrac}}
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center;">
                    <button type="submit" class="btnSubmit">Uložit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
          <script>
            prev = document.getElementById("previous_page");
            prev.value = document.referrer;
        </script>

    </body>
</html> 